body {
    background-color: #E5E9F0;
    color: #3B4252;
    font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4C566A
}


#container {
    width: 1920;
    margin-left: auto;
    margin-right: auto;
}
#header {
    text-align: center;
    color: #E5E9F0;
    padding: 15px;
    background-color: #5E81AC;
}



#content {
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    width: 20%;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected{
    font-weight: bold;
}

#main {
    width: 80%;
    float: right;
}

#footer {
    clear: both;
    padding: 20px;
    background-color: #5E81AC;
    color: #E5E9F0;
}

#mapid { 
    height: 500px;
}
